<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="{{title}}">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        {{createdAt}}
        <div class="info-buttons">
            <a class="btn details" href="plays/details-play/{{ _id }}">Details</a>
            <span class="likes">{{usersLiked.length}} likes</span>
        </div>
    </div>
</div>